Output
resources/__pycache__/
resources/.snakemake/
resources/gene_transfer_script
resources/sample_script
resource/extract_extant_script
bin/__pycache__/
bin/.snakemake/
species_tree_9/
__pycache__/
cuda-samples/
experiments/__pycache__/
experiments/bin/__pycache__/
wandb
copy_files.sh
copy.sh
results/
Output*/
outputs
.vscode
bin/scripts/rust_scripts
bin/scripts/create_transfers_file.py
bin/binaries
Output*
outputs
experiments/biological_data
experiments/training_results
experiments/visualisation
experiments/datasets
experiments/visualisation.tar.gz
